@{
    ViewBag.Title = "О программе";
}

<h2>О программе</h2>
<h3>Тестовое задание на вакансию Asp.Net-разработчик</h3>

<p>Предполагается, что задание можно выполнить за 1 рабочий день. Однако мы не ограничиваем время выполнения задания. В первую очередь будет оцениваться качество кода, а не время выполнения.

Необходимо создать сайт, который представляет из себя каталог фильмов. На сайте должны быть страницы: списка всех фильмов (с пагинацией), страница одного отдельного фильма, страница редактирования данных о фильме, страница создания нового фильма. Редактировать фильм имеет право только тот, кто изначально выложил информацию об этом фильме. Для каждого фильма хранятся: название, описание, год выпуска, режиссёр, пользователь, который выложил информацию. По желанию кандидата можно хранить ещё постер. Постер - это файл-изображение. Должна быть возможность загрузить этот файл на сервер и посмотреть его на странице детальной информации о фильме. Функциональность по выкладыванию видео-файла фильма не нужна, нужна только информация о нём. При реализации учитывать, что фильмов в каталоге может быть потенциально сотни тысяч.

Ко внешнему виду требования минимальные, но всё должно выглядеть аккуратно и приятно. Необходимо использовать Bootstrap. На бекенде должны быть Asp.Net MVC, Asp.Net Identity и Entity Framework. Нужно использовать классический .Net Framework. Не нужно использовать .Net Core. В остальном допустимо использовать любые сторонние библиотеки, в том числе nuget-пакеты. Не нужно самим реализовывать функциональность библиотек, если это не оправдано какими-то ограничениями.

В качестве результата работы необходимо прислать ссылку на git-репозиторий с проектом на адрес a.tsygankov@education-erp.com. Исходные файлы в архиве присылать не нужно. Желательно использовать LocalDB, чтобы можно было без проблем запустить проект с начальными данными. Также в письме с решением необходимо прислать несколько скриншотов интерфейса. Любые вопросы по заданию тоже можете присылать на a.tsygankov@education-erp.com.
</p>
